<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>

  <servlet>
    <servlet-name>servlets.LoginServlet</servlet-name>
    <servlet-class>servlets.LoginServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>servlets.TestServlet</servlet-name>
    <servlet-class>servlets.TestServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>servlets.HomepageServlet</servlet-name>
    <servlet-class>servlets.HomepageServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>servlets.CreateTicketServlet</servlet-name>
    <servlet-class>servlets.CreateTicketServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>servlets.UpdatePersonalInfoServlet</servlet-name>
    <servlet-class>servlets.UpdatePersonalInfoServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>servlets.TicketListManagerServlet</servlet-name>
    <servlet-class>servlets.TicketListManagerServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>servlets.TicketListAssociateServlet</servlet-name>
    <servlet-class>servlets.TicketListAssociateServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>servlets.ViewPersonalInfoServlet</servlet-name>
    <servlet-class>servlets.ViewPersonalInfoServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>servlets.EmpRouterServlet</servlet-name>
    <servlet-class>servlets.EmpRouterServlet</servlet-class>
  </servlet>



  <servlet-mapping>
    <servlet-name>servlets.LoginServlet</servlet-name>
    <url-pattern>/servlets.LoginServlet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>servlets.TestServlet</servlet-name>
    <url-pattern>/servlets.TestServlet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>servlets.HomepageServlet</servlet-name>
    <url-pattern>/servlets.HomepageServlet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>servlets.CreateTicketServlet</servlet-name>
    <url-pattern>/servlets.CreateTicketServlet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>servlets.UpdatePersonalInfoServlet</servlet-name>
    <url-pattern>/servlets.UpdatePersonalInfoServlet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>servlets.TicketListManagerServlet</servlet-name>
    <url-pattern>/servlets.TicketListManagerServlet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>servlets.TicketListAssociateServlet</servlet-name>
    <url-pattern>/servlets.TicketListAssociateServlet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>servlets.ViewPersonalInfoServlet</servlet-name>
    <url-pattern>/servlets.ViewPersonalInfoServlet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>servlets.EmpRouterServlet</servlet-name>
    <url-pattern>/servlets.EmpRouterServlet</url-pattern>
  </servlet-mapping>
</web-app>
